<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>홍익대학교 깔루아 공연 예매 확인</title>
</head>
<body style="line-height: 160%">
<h3>깔루아 9월 공연 신입생 예매 확인</h3>
<hr color="#5770F4" size="3" />
<p>
    안녕하세요! 홍익대 깔루아 학회장 송강규입니다! 우선 저희 깔루아 공연에 참석해주셔서 감사합니다.<br />
    예매해주신 티켓 정보 및 공연 정보 전달드립니다!
</p>
<div>
    <strong>▪ Welcome to the show ▪</strong>
    <hr color="#CBCDD7" size="2" />
    <p style="padding-left: 8px">
        이름 : [[${buyer}]]<br />
        학번 : [[${studentId}]]<br />
        전화번호 : [[${phoneNum}]]<br />
        예매번호 : [[${reservationId}]]<br />
        티켓 : 1장 <br />
    </p>
</div>
<div>
    <strong>▪ KAHLUA 공연 안내 ▪</strong>
    <hr color="#CBCDD7" size="2" />
    <p style="padding-left: 8px">
        날짜 : 9월 2일 월요일<br />
        공연시간 : 오후 7시 ~ 10시<br />
        입장시간 : 오후 6시 30분 ~ (중도입장 가능)<br />
        장소 : 001클럽 (서울 마포구 와우산로18길 20)<br />
    </p>
</div>
<p>
    공연장 입장 시 신입생 여부 확인을 위해 학생증을 확인할 예정입니다.
    <strong>본인 명의의 실물 학생증 또는 모바일 학생증</strong>을 지참해주세요. 기타 모든 문의사항은 학회장
    연락처 또는 깔루아 SNS로 문의 주시면 빠르게 답변드리겠습니다.
</p>
<p>감사합니다 :)</p>
<p style="background-color: #e8e9ed; padding: 16px; border-radius: 8px">
    학회장 연락처 : 010-6701-8015 <br />
    <a href="https://www.instagram.com/kahlua_band_/?igshid=MzRlODBiNWFlZA%3D%3D">
        깔루아 인스타그램 @kahlua_band_
    </a>
    <br />
    <a href="https://pf.kakao.com/_UaIZG/chat">깔루아 카카오톡</a>
</p>
</body>
</html>